/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /* Header */
    .header {
        height: 90vh;
    }
    img.header-logo {
        width: 450px;
        padding-top: 6rem;
    }
    .col-12.section-header.white.right {
        font-size: 40px;
        text-align: center;
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    .col-12.section-header.contact-left {
        font-size: 40px;
        text-align: center;
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    /* About */
    .section-text {
        color: white;
        font-size: 18px;
    }
}
