.nav-link {
	margin-left: 3rem;
	margin-right: 3rem;
	color: #ffffff;
}

.navbar {
	background-color: #9E4148;
}


.jumbotron {
    background-size: 100% 100%;
    background-image: linear-gradient(
            to bottom,
            rgba(0, 34, 90, 0.4),
            rgba(0, 34, 90, 1.0)
        ),
        url(../img/bg.jpg);
    height: 45rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-photo {
    border-radius: 50%;
    width: 15rem;
}

.background-blue {
    background-color: #a9d8eb;
}

.page-section {
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.parallax-window {
    background-image: url("../img/wall.jpg");

    height: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-text {
    color: #ffffff;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	letter-spacing: 10px;
}

.subheader-text {
	color: #ffffff;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}

.text-body {
	color: #00225A;
	font-family: 'Poppins', sans-serif;
}

.text-list {
	color: #00225A;
	font-family: 'Poppins', sans-serif;
}

.text-list:hover {
	color: #b42832	
}

.text-center {
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-variant: small-caps;
	color: #B42832;
	font-size: 40px;
}



.skills-icon {
    color: #8c93d1 !important;
}

.skills-icon:hover {
    color: #636aa6 !important;
}

.popover-body {
    background-color: #a7aeeb;
}

.bs-popover-right > .arrow::after {
    left: 1px;
    border-width: 0.5rem 0.5rem 0.5rem 0;
    border-right-color: #a7aeeb;
}

.project-cover {
    width: 20rem;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 20rem;
    height: 20rem;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #008cba;
}

.proj-container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
	font-family: 'Poppins', sans-serif;
}

.paula {
	padding-top: 0.5rem;
	padding-left: 5rem;
	padding-right: 7rem;
	padding-bottom: 7rem;
}

.headshot {
	padding-top: 0.5rem;
	padding-left: 2.5rem;
	padding-right: 3rem;
}

.groupshot {
	padding-top:0.5rem;
	padding-bottom:3rem;
	padding-right:4rem;
	padding-left: 2rem;
}

.resources {
	padding-bottom:4rem;
	padding-right:4rem;
	padding-left:4rem;
}

.col-md-6 {
	margin-bottom:3rem;
	margin-top: 3rem;
}

.d-block {
	align-content: center;
	text-align:center;
	width: 500px;
}

.btn {
	background-color: #00225a;
}

.please-work {
	text-align: center;
}

.col-xs-12 {
	align-content: center;
}

.skills-row {
    padding-top: 5rem;
}

.footer {
    padding-bottom: 1.2rem;
	background-color: #00225A
}

footer.footer {
    padding-top: 1rem;
}

.text-lg-left {
	color: #ffffff;
}

.btn-light {
	color: #b42832;
}

.btn-social {
	color: #b42832;
}

.background-blue {
    background-color: rgb(189, 222, 237);
}

#content-desktop {
    display: block;
}
#content-mobile {
    display: none;
}

#resources {
	background-color:#c4c4c4;
}

#research {
	background-color:#c4c4c4;
}

#navbarSupportedContent
.carousel-control-next-icon {
	color: #b42832;
}

.carousel-inner img {
  margin: auto;
}


.robot-arm {
    padding-top: 0.5rem;
}

@media screen and (max-width: 768px) {
    #content-desktop {
        display: none;
    }
    #content-mobile {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .robot-arm {
        padding-top: 0.2rem;
        width: 70%;
    }
}
